body{
    margin: 0;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.sect{
    background-color: brown;
    display: grid;
    grid-template: auto/1fr 1fr 1fr;
}